In [97]:
import pandas as pd
import json
import os

In [98]:
JSON_DIR = 'data/repos/analysis/'
filenames = os.listdir(JSON_DIR)
analysis = []

for filename in filenames:
  with open(f'{JSON_DIR}/{filename}', 'r', encoding = 'utf-8') as f:
    analysis.extend(json.load(f))

In [99]:
analysis_df = pd.DataFrame(data=analysis)
analysis_df.head()

,code,default_branch,documentation,empty,forks,language,name,owner,stars
0,57929,master,9336,7329,1534,haskell,pandoc,jgm,13495
1,9222,master,632,1392,646,haskell,shellcheck,koalaman,12716
2,6722,master,502,1228,509,haskell,postgrest,PostgREST,11485
3,26870,master,4587,5081,391,haskell,purescript,purescript,5280
4,26930,master,1876,12200,390,haskell,compiler,elm,4848

In [100]:
most_commented = analysis_df.groupby(['language']) \
  .agg({'documentation': 'sum'}) \
  .reset_index() \
  .sort_values(by='documentation', ascending=False)
most_commented

  language  documentation
0        c       96405659
1      c++       33008697
3     java       20008658
6   python        7364182
7     ruby        3389461
5    ocaml        2928819
2  haskell        2697803
8     rust         969378
4   kotlin         892546